.feedback {
  margin-top: 20px;
  overflow-x: auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 10px 10px rgba(255, 255, 255, 0.1);

}
.feedback:hover {
  transform: scale(1.05); 
}