.tableContainer {
  margin-top: 20px;
  overflow-x: auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 10px 10px rgba(255, 255, 255, 0.1);

}
.tableContainer:hover {
  transform: scale(1.05); 
}
.navbar {
  background-color: #0e0afa;
  padding: 10px 0;
  text-align: center;
}

.navbarList {
  list-style-type: none;
  padding: 0;
}

.navbarItem {
  display: inline-block;
  margin-right: 20px;
}

.navbarLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbarLink:hover {
  text-decoration: underline;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  text-align: left;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0e0afa;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:hover {
  background-color: #ddd;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

td:last-child {
  border-bottom: none;
}
.status {
  display: flex;
  align-items: center;
}

.status svg {
  margin-left: 5px; 
}
.tableContainer {
  position: relative;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addIcon {
  font-size: 2rem;
  cursor: pointer;
}