.faqContainer {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
    color: #333; /* Color de texto principal */
  }
  
  .faqContainer:hover {
    transform: scale(1.05);
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question h3 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .question p {
    color: #666;
  }
  