.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(180deg, black 0%, rgb(12, 38, 158)50%, black 100%);
  color: #000000; 
  text-align: center;
  padding: 20px;
  
}

.content {
  max-width: 800px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0px 20px rgba(3, 3, 3, 0.3);
  background-color: #fff;
  transition: transform 0.3s;
  box-shadow: inset 0 10px 10px rgba(255, 255, 255, 0.1);
  color: #000000; 
}
.content:hover {
  transform: scale(1.05); 
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #030303;
}

p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #0b75c8;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
button[type="submit"] {
  background-image: linear-gradient(to right, #030e9d, #0b75c8);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

button[type="submit"]:hover {
  background-image: linear-gradient(to right, #0b75c8, #030e9d);
}

button[type="submit"]:focus {
  outline: none;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.buttonSpace {
  width: 20px; 
}

/* .button:active {
  transform: scale(0.95);
} */
.space {
  height: 40px; 
}